body {
	background: #F4F4F4;
}

div.scrollbar {
	top: 0px;
	left: 0px;
	background: black;
	width: 100%;
	height: 70px;
	padding: 10px;
	margin-bottom: 5px;
	-webkit-box-shadow: 0 2px 15px -5px #777;
       -moz-box-shadow: 0 2px 15px -5px #777;
            box-shadow: 0 2px 15px -5px #777;
}

div.dialog-up-bord {
	background: white;
	padding: 5px;
	margin-bottom: 5px;
	height: 910px;
	margin: 0 auto;
	border-radius: 10px;
}

div.dialog-bord {
	background: white;
	padding: 5px;
	-webkit-box-shadow: 0 2px 15px -5px #777;
       -moz-box-shadow: 0 2px 15px -5px #777;
            box-shadow: 0 2px 15px -5px #777;
	margin-bottom: 5px;
	height: 800px;
}

div.dialog-mail {
	margin: 0 auto;
	width: 750px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.dialog {
	margin: 0 auto;
	width: 800px;
}

div.dialog-radius-links {
	float: left;
	margin-left: 20px;
}

div.dialog-text {
	width: 590px;
	margin-left: 35px;
	float: left;
	margin-right: 10px;
}