<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'dialogs/privatemessages.css' %}">
    <script type="text/javascript" src="http://yandex.st/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'dialogs/jstz.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dialogs/privatemessages.js' %}"></script>
    {% block head %}{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}Личные сообщения{% endblock title %}</title>
  </head>
  <body>
    {% block content %}{% endblock content %}
    {% block js %}
      <script type="text/javascript" src="user_notifications.js"></script>
    {% endblock %}
  </body>
</html>
