{% extends "base.html" %}

{% load dialog_name %}
{% block title %}{% dialog_name thread %}{% endblock %}

{% block content %}
{% load pluralize %}
<div class="chat">
  <div class="dialog-name">
    <p class="name">{% dialog_name thread %}</p>
    <p class="messages"><span class="total">{{ messages_total }}</span> {{ messages_total|rupluralize:"сообщение,сообщения,сообщений" }} (<span class="received">{{ messages_received }}</span> получено, <span class="sent">{{ messages_sent }}</span> отправлено)</p>
  </div>
  <div class="conversation">
    <div class="mess-old">
      {% for message in thread_messages reversed %}
        {% include "includes/message.html" %}
      {% endfor %}
    </div>
    <div class="mess-new">
    </div>
    <div class="typing">
    </div>
  </div>
  <form class="message_form">
    <div class="compose">
      <textarea rows="1" cols="30" id="message_textarea"></textarea>
    </div>
    <div class="send">
      <button class="btn" type="button">Отправить</button>
      <p>Вы также можете отправлять сообщения с помощью клавиш Ctrl + Enter.</p>
    </div>
  </form>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    activate_chat({{ thread.id }}, "{{ user.username }}", {{ user.id }}, {
        "total": {{ messages_total }},
        "sent": {{ messages_sent }},
        "received": {{ messages_received }}
    });
    activate_notifications();
});
</script>
{% endblock %}
