{% extends "base.html" %}

{% block content %}
{% load pluralize %}
<div class="private_messages">
    <h1>Собеседники</h1>
    <div class="partners">
    {% for thread in threads %}
        <p><a href="{% url 'dialogs:chat' thread.id %}">{{ thread.partners }} ({{ thread.total_messages|default_if_none:"0" }} {{ thread.total_messages|rupluralize:"сообщение,сообщения,сообщений" }})</a></p>
    {% empty %}
        <p>Пока что собеседников нет.</p>
    {% endfor %}
    </div>
    <h1>Отправить сообщение</h1>
    <form action="{% url 'dialogs:messages' %}" method="post" class="new_message">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for e in form.non_field_errors %}
          <label>{{ e }}</label>
        {% endfor %}
        {% for field in form.visible_fields %}
          <p class="{% if field.errors %}has-error{% endif %}">
            {% if field.errors %}
              <p>
                {% for error in field.errors %}
                    <label for="{{ field.id_for_label }}">{{ error }}</label>
                {% endfor %}
              </p>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </p>
        {% endfor %}
        <p><input type="submit" value="Отправить"></p>
    </form>
</div>
{% endblock content %}
