{% extends "base.html" %}

{% block content %}
{% load pluralize %}
{% load threads %}
<div class="private_messages">
    <h1>Собеседники</h1>
    <div class="partners">
      {% if  unread_messages != 0 %}
        <h4>{{ unread_messages }} {{ unread_messages|rupluralize:"новое сообщение,новые сообщения,новых сообщений" }}</h4>
      {% endif %}
    {% for thread in thread_list %}
        <p>
          {% if thread.unread_messages_count != 0 %}
            <span class="red">[{{ thread.unread_messages_count }}]</span>
          {% endif %}
          <a href="{% url 'dialogs:chat' thread.id %}">{% dialog_name thread %} ({{ thread.get_total_messages|default_if_none:"0" }} {{ thread.get_total_messages|rupluralize:"сообщение,сообщения,сообщений" }})</a>
        </p>
    {% empty %}
        <p>Пока что собеседников нет.</p>
    {% endfor %}
    </div>
    <h1>Отправить сообщение</h1>
    <form action="{% url 'dialogs:messages' %}" method="post" class="new_message">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for e in form.non_field_errors %}
          <label>{{ e }}</label>
        {% endfor %}
        {% for field in form.visible_fields %}
          <p class="{% if field.errors %}has-error{% endif %}">
            {% if field.errors %}
              <p>
                {% for error in field.errors %}
                    <label for="{{ field.id_for_label }}">{{ error }}</label>
                {% endfor %}
              </p>
            {% endif %}
            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </p>
        {% endfor %}
        <p><input type="submit" value="Отправить"></p>
    </form>
</div>
{% endblock content %}
